<div class="hh"><h2>Contact Us</h2>

    <form [formGroup]="contactForm" (ngSubmit)="onSubmit()">
    
      <div class="form-group">
        <label for="name">Name:</label>
        <input type="text" formControlName="name" id="name" class="form-control">
        <!--<div *ngIf="contactForm.get('name').invalid && (contactForm.get('name').dirty || contactForm.get('name').touched)" class="alert alert-danger">
          <div *ngIf="contactForm.get('name').errors?['required']">Name is required</div>
        </div>--->
      </div>
    
      <div class="form-group">
        <label for="email">Email:</label>
        <input type="email" formControlName="email" id="email" class="form-control" required>
       <!-- <div *ngIf="contactForm.get('email').invalid && (contactForm.get('email').dirty || contactForm.get('email').touched)" class="alert alert-danger">
          <div *ngIf="contactForm.get('email').errors?['required']">Email is required</div>
          <div *ngIf="contactForm.get('email').errors?['email']">Invalid email format</div>
        </div>-->
      </div>
    
      <div class="form-group">
        <label for="message">Message:</label>
        <textarea formControlName="message" id="message" class="form-control"></textarea>
        <!--<div *ngIf="contactForm.get('message').invalid && (contactForm.get('message').dirty || contactForm.get('message').touched)" class="alert alert-danger">
          <div *ngIf="contactForm.get('message').errors?['required']">Message is required</div>
        </div>-->
      </div>
    
      <button type="submit" class="btn btn-success" [disabled]="!contactForm.valid">Submit</button>
      <br><br><button routerLink="/products" class="btn btn-primary">Shop More</button>
    
    </form>
    </div>